{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "tests/var/log/infection.log"
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": {
            "ignore": [
                "PHPCensor\\Common\\Plugin\\PathResolver::resolveDirectory",
                "PHPCensor\\Common\\Plugin\\PathResolver::resolveBinaryPath",
                "PHPCensor\\Common\\Plugin\\Plugin::initOptions"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "PHPCensor\\Common\\Plugin\\Plugin::initOptions",
                "PHPCensor\\Common\\Plugin\\Plugin::initBuildSettings"
            ]
        }
    }
}
